<ion-content style="--background: white; --color: black">
  <ng-container *ngIf="locations$ | async as locations">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size="12" style="padding: 15px;">
          <ion-grid>
            <ion-row>
              <ng-container *ngIf="locations.length <= 1">
                <ion-col style="padding: 15px" size-xs="12" size-sm="12" size-md="12" size-lg="10" offset-lg="1" *ngFor="let location of locations">
                  <div style="text-align: center">
                    <h5>
                      {{location.title}}
                    </h5>
                    <div>
                      <ion-text style="white-space: pre-wrap">
                        {{location.address.streetName}}
                        <br>
                        {{location.address.cityStateZip}}
                        <br>
                        {{location.address.phoneNumber}}
                      </ion-text>
                    </div>
                  </div>
                  <br>
                  <div>
                    <picture type="image/webp">
                      <img src="{{location.imageUrl}}" loading="lazy" decoding="async" fetchpriority="high">
                    </picture>
                  </div>
                  <br>
                  <div style="text-align: center">
                    <ion-button fill="outline" class="about"
                                href="https://www.google.com/maps/dir/?api=1&destination=The%20Father%27s%20House%20Freeport%20Illinois">
                      Directions
                    </ion-button>
                  </div>
                </ion-col>
              </ng-container>
              <ng-container *ngIf="locations.length > 1">
                <ion-col style="padding: 15px" size-xs="12" size-sm="12" size-md="6" *ngFor="let location of locations">
                  <div style="text-align: center">
                    <h5>
                      {{location.title}}
                    </h5>
                    <div>
                      <ion-text style="white-space: pre-wrap">
                        {{location.address.streetName}}
                        <br>
                        {{location.address.cityStateZip}}
                        <br>
                        {{location.address.phoneNumber}}
                      </ion-text>
                    </div>
                  </div>
                  <br>
                  <div>
                    <img src="{{location.imageUrl}}">
                  </div>
                  <br>
                  <div style="text-align: center">
                    <ion-button fill="outline" class="about"
                                href="https://www.google.com/maps/dir/?api=1&destination=The%20Father%27s%20House%20Freeport%20Illinois">
                      Directions
                    </ion-button>
                  </div>
                </ion-col>
              </ng-container>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row style="background: white">
        <ion-col size="12" class="ion-no-padding">
          <div style="text-align: center; border-bottom: 2px solid black; border-top: 2px solid black">
            <h4 class="times">SERVICE TIMES</h4>
            <p class="times">Sunday: 10:00am | Wednesday: 6:30pm</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
  <app-footer></app-footer>
</ion-content>
