ion-grid {
  --ion-grid-width-sm: 95%;
  --ion-grid-width-md: 100%;
  --ion-grid-width-xl: 95%;
  --ion-grid-width-xs: 98%;
  padding: 0;
}

img {
  aspect-ratio: 16/9;
  border-radius: 15px;
  width: 100%;
}


ion-button.about {
  font-size: 15px;
  height: 3.85em;
  font-family: "Montserrat", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  --color: black;
  --border-color: black;
}

h5 {
  font-size: clamp(24px, 3vw, 28px);
  font-family: "Montserrat", Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1em;
  font-weight: bold;
}

ion-text {
  white-space: break-spaces;
  font-family: "Montserrat", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: clamp(18px, 3vw, 20px);
  line-height: 1em;
}

h4.times{
  font-family: "Montserrat",Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: clamp(36px, 4vw, 40px);
  color: black;
  line-height: 1em;
  text-transform: none;
  letter-spacing: 0.02em;
}
p.times {
  font-family: "Montserrat",Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: clamp(16px, 2vw, 20px);
  color: black;
  line-height: 1em;
  text-transform: none;
  letter-spacing: 0.02em;
  margin-top: .5%;
}
