<ion-content style="--background: white; --color: black">
  @if (ourChurch()) {
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="12">
          <div class="outside">
              <img ngSrc="{{ourChurch().allWebsiteInformation.ourChurch.coverPhoto}}" priority alt="hello" class="cover" fill ngSrcset="100w, 200w, 400w, 600w, 800w, 1200w, 1920w, 2560w">
            <div class="inside">
              <h1>{{ ourChurch().allWebsiteInformation.ourChurch.title }}</h1>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <mat-toolbar style="justify-content: center">
            @if (platformWidth >= 780) {
              <ion-segment (ionChange)="segmentChanged($event)" value="history" style="height: 100%; width: 60%">
                <ion-segment-button value="history">
                  <ion-label>History</ion-label>
                </ion-segment-button>
                <ion-segment-button value="about">
                  <ion-label>About</ion-label>
                </ion-segment-button>
                <ion-segment-button value="beliefs">
                  <ion-label>Beliefs</ion-label>
                </ion-segment-button>
              </ion-segment>
            }
            @if (platformWidth < 780) {
              <ion-text>
                The Father's House Church
              </ion-text>
              <span class="example-spacer"></span>
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>menu</mat-icon>
              </button>
              <mat-menu #menu="matMenu" style="width: 100%" yPosition="below">
                <button mat-menu-item value="history" (click)="segmentChanged($event)">
                  <span>History</span>
                </button>
                <button mat-menu-item value="about" (click)="segmentChanged($event)">
                  <span>About</span>
                </button>
                <button mat-menu-item value="beliefs" (click)="segmentChanged($event)">
                  <span>Beliefs</span>
                </button>
              </mat-menu>
            }
          </mat-toolbar>
        </ion-col>
      </ion-row>
      @if (selectedSegment() === 'history') {
        <ion-row style="height: auto; padding: 5%">
          <ion-col size-md="12">
            <app-timeline [items]="ourChurch().allWebsiteInformation.ourChurch.history"></app-timeline>
          </ion-col>
        </ion-row>
      }
      @if (selectedSegment() === 'about') {
        <ion-row style="height: auto" class="ion-justify-content-center ion-align-items-center">
          <ion-col size-md="6" size-xs="12">
              <img ngSrc="{{ourChurch()?.allWebsiteInformation.ourChurch.about.crazyForJesusImage}}" priority width="1920" height="1080" style="height: auto; width: auto; padding: 5%" alt="" ngSrcset="100w, 200w, 400w, 800w, 1200w, 1920w, 2560w" class="test">
          </ion-col>
          <ion-col size-md="6" size-xs="12" style="padding: 5% 5% 8% 5%"
                   class="ion-text-start ion-justify-content-center">
            <div class="about">
              <h1 class="fake_h1">
                {{ ourChurch().allWebsiteInformation.ourChurch.about.crazyForJesus[0] }}
              </h1>
              <ion-text class="about">
                {{ ourChurch().allWebsiteInformation.ourChurch.about.crazyForJesus[1]}}
              </ion-text>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="padding: 1.9%">
          @for (values of ourChurch().allWebsiteInformation.ourChurch.about.churchInfo;track values;let index = $index) {
            <ion-col size-md="4" size-xs="12">
              <ion-card>
                <ion-card-header class="ion-align-items-center">
                  <ion-card-title>{{ values.title }}</ion-card-title>
                </ion-card-header>
                <ion-card-content style="padding: 2%">
                  @if (index != 2) {
                    <ol>
                      @for (value of values.descriptions;track value) {
                        <li style="margin-bottom: 1%">
                          {{ value }}
                        </li>
                      }
                    </ol>
                  } @else {
                    <ion-row style="padding: 2%">
                    @for (value of values.missionVisionTargetTitles; track value; let index = $index) {
                      <ion-col size="12" style="text-align: center">
                        <ion-text class="bold">{{value}}</ion-text>
                      </ion-col>
                      <br>
                      <ion-col size="12" style="text-align: center; padding: 1% 4% 2% 4%">
                        <ion-text class="standard">{{values.missionVisionTarget[index]}}</ion-text>
                      </ion-col>
                    }
                    </ion-row>
                  }
                </ion-card-content>
              </ion-card>
            </ion-col>
          }
        </ion-row>
      }
      @if (selectedSegment() === 'beliefs') {
        <ion-row style="height: auto; padding: 5%">
          <ion-col size-lg="10" offset-lg="1" style="height:  100%; text-align: center" size-xs="12" size-xl="8" offset-xl="2">
            @if (ourChurch()) {
              <ion-card>
                <ion-grid class="ion-no-padding">
                  <ion-row style=" border-bottom: solid 2px #497588">
                    <ion-col size="12">
                      <div class="outside">
                          <img ngSrc="{{ourChurch().statementOfFaith.imageUrl}}" priority fill alt="" ngSrcset="100w, 200w, 400w, 800w, 1200w, 1920w, 2560w" class="faith">
                        <div class="inside">
                          <h1 class="faith">The Father's House Statement Of Faith</h1>
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size-lg="12">
                      <section class="dl-blurbs">
                        <dl>
                          @for (allInfo of ourChurch().statementOfFaith.statementInformation; track allInfo) {
                            <dt>{{allInfo.title}}</dt>
                            <dd>
                              {{allInfo.description}}
                            </dd>
                            @for (scripture of allInfo.scriptures; track scripture) {
                              <dd>
                                {{scripture}}
                              </dd>
                            }
                          }
                        </dl>
                      </section>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            }
          </ion-col>
        </ion-row>
      }
    </ion-grid>
  } @else {
    <ion-grid [fixed]="true" style="height: 100%">
      <ion-row style="height: 100%" class="ion-text-center">
        <ion-col style="height: 100%" class="ion-text-center">
          <ion-spinner name="lines"></ion-spinner>
        </ion-col>
      </ion-row>
    </ion-grid>
  }
  <app-footer></app-footer>
</ion-content>
