img.cover {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}
mat-toolbar {
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
}
.example-spacer {
  flex: 1 1 auto;
}
.button_padding {
  padding: 0 5px 0 5px;
}

ion-segment-button {
  --indicator-color: #3E2F28;
}

.ios ion-segment-button {
  --indicator-color: #3E2F28;
  font-size: .938rem;
  --color-checked: white;
}

.mat-mdc-icon-button.mat-mdc-button-base {
  color: #3E2F28 !important;
}

h1.about {
  font-size: clamp(34px, 4vw, 40px);
  //margin-top: 8%;
  padding: 0px;
  font-family: Roboto, serif;
  color: black;
  font-weight: normal;
  margin-bottom: 2%;
  text-align: left;
}

ion-text.about {
  font-size: clamp(16px, 2vw, 22px);
  font-weight: normal;
  font-family: Arial, serif;
  line-height: 1.5em;
  color: black;
}

h1.fake_h1 {
  font-size: clamp(40px, 4vw, 50px);
  font-weight: normal;
  font-family: Arial, serif;
  line-height: 1.5em;
  color: black;
  text-align: start;
  margin-bottom: 1%;
}
img.test {
  aspect-ratio: 13/12;
  max-height: 825px;
}

ion-row.general {
  align-items: center !important;
  justify-content: center !important;
}

ion-card {
  background-color: #f3f3f3;
  cursor: pointer;
}

ion-card-header {
  padding: 10px;
  --background: purple;
}

ion-card-title {
  font-size:clamp(19px, 2vw, 21px);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
  text-align: center;
}

ion-card-content {
  font-size: clamp(14px, 2vw, 16px);
  color: black;
  font-family: Roboto, serif;
}

ion-text.bold {
  font-size: clamp(16px, 2vw, 19px);
  color: black;
  font-family: Roboto, serif;
  font-weight: bold;
  letter-spacing: .1em;
}

ion-text.standard {
  font-size: clamp(14px, 2vw, 16px);
  color: black;
  font-family: Roboto, serif;
}

//statement of faith stuff

//- Google Fonts
$font-google-primary: 'https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap';
$font-google-secondary: 'https://fonts.googleapis.com/css2?family=Montserrat&display=swap';

//- @type List
$abril-fatface: 'Abril Fatface', cursive;
$montserrat: 'Montserrat', sans-serif;

//- Typography
$base-font-family: $montserrat;
$heading-font-family: $abril-fatface;

$font-size-small: 0.875em;

/*- Screen Sizes*/
$tablet-width: 768px;
$desktop-width: 1024px;

/* COLOR HEX */
$cadet: #608c9f;
$maximum-blue: #5ea5b8ff;
$columbia-blue: #c0d6dfff;
$platinum: #eaeaeaff;
$cultured: #f3f3f3ff;
$nero: #444444;

/* COLOR Gradient */
$dl-gradient-right: linear-gradient(90deg, rgba(0,0,0,0.04) 20%, rgba(255,255,255,0) 0%);

$body-background-color: $platinum;
$body-text-color: $nero;

ion-grid {
  --ion-grid-width: 80%;
  --ion-grid-width-xs: 98%;
  --ion-grid-width-sm: 95%;
  --ion-grid-width-md: 85%;
  --ion-grid-width-lg: 85%;
  --ion-grid-width-xl: 75%;
}


//- Global Functions
/*import fonts*/
@if variable-exists(font-google-primary) {
  @import url($font-google-primary);
}
@if variable-exists(font-google-secondary) {
  @import url($font-google-secondary);
}

//- Global Mixins
.dl-blurbs {
  display: grid;
}
/* LIST */
dl {
  counter-reset: count;
  background: $dl-gradient-right;
  padding-left: 6vw;
  padding-right: 6vw;
  margin: 0;
}
dl + dl {
  counter-reset: counter 4;
}

dt {
  counter-increment: count;
  color: #497588FF;
  font-family: $base-font-family;
  font-size: clamp(22px, 2vw, 50px);;
  text-transform: uppercase;
  font-weight: bold;
  margin: 2%;
}
dt::before {
  content: counter(count, decimal-leading-zero)".";
  font-family: $heading-font-family;
  color: #497588FF;
  padding-right: 12px;
}

dd {
  margin-bottom: 1vh;
  margin-inline-start: 0;
  color: #4b4b4b;
  font-size: clamp(14px, 2vw, 18px);
}

div.outside {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 250px;
  vertical-align: middle;
  justify-content: center;

}

div.inside {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1.faith {
  font-family: "Montserrat",Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: clamp(30px, 6vw, 60px);
  line-height: 1em;
  text-transform: none;
  letter-spacing: 0.04em;
  color: white;
  text-align: center;
  margin: 0;
  padding: 10px;
}

img.faith {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

ion-card {
  --background: white;
}
