<ion-footer style="height: 400px">
  <ion-grid style="height: 100%" fixed="true">
    <ion-row>

      <ion-col>
        <ion-title class="ion-no-padding">
          LOCATIONS:
        </ion-title>
        <br>
        <ion-text>
          The Father's House
          <br>
          302 W. Stephenson St.
          <br>
          Freeport, IL 61032
        </ion-text>
      </ion-col>

      <ion-col>
        <ion-title>
          ABOUT:
        </ion-title>
        <br>
        <ion-button fill="clear">
          OUR CHURCH
        </ion-button>
        <br>
        <ion-button fill="clear">
          OUR MINISTRIES
        </ion-button>
        <br>
        <ion-button fill="clear">
          MINISTRIES WE SUPPORT
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-title>
          CONNECT:
        </ion-title>

        <br>
        <ion-button fill="clear">
          CONTACT US
        </ion-button>
        <br>
        <ion-button fill="clear">
          PRAYER
        </ion-button>
        <br>
        <ion-button fill="clear">
          CALENDAR
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-title>
          SOCIAL:
        </ion-title>
        <br>
        <ion-item lines="none" href="#">
          <ion-icon name="logo-youtube" slot="start"></ion-icon>
          <ion-label>YouTube</ion-label>
        </ion-item>
        <ion-item lines="none" href="#">
          <ion-icon name="logo-instagram" slot="start"></ion-icon>
          <ion-label>Instagram</ion-label>
        </ion-item>
        <ion-item lines="none" href="#">
          <ion-icon name="logo-facebook" slot="start"></ion-icon>
          <ion-label>Facebook</ion-label>
        </ion-item>
        <ion-item lines="none" href="#">
          <ion-icon name="logo-twitter"></ion-icon>
          <ion-label>Twitter</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
