<ion-footer style="height: auto; background-color: white">
  <ion-grid style="height: 100%; background-color: white; padding-top: 40px; padding-bottom: 40px;" [fixed]="true">
    <ion-row>

      <ion-grid [fixed]="true" class="ion-no-padding">
        <ion-row style="text-align: center;">

          <ion-col class="ion-margin-bottom" size-xs="12" size-xl="2.4" size-lg="2.4" size-md="4" size-sm="4">
            <h4 class="ion-no-padding" style="color: black">
              LOCATIONS:
            </h4>

            <ion-text style="color: black; user-select: auto">
              The Father's House
              <br>
              302 W. Stephenson St.
              <br>
              Freeport, IL 61032
            </ion-text>

          </ion-col>

          <ion-col class="ion-margin-bottom" size-xs="12" size-xl="2.4" size-lg="2.4" size-md="4" size-sm="4">
            <h4 style="color: black">
              ABOUT:
            </h4>

            <ion-button fill="clear" routerLink="/our-church">
              our church
            </ion-button>
            <br>
            <ion-button fill="clear" routerLink="/faith-statement">
              statement of faith
            </ion-button>
            <br>
            <ion-button fill="clear" routerLink="/our-ministries">
              our ministries
            </ion-button>
            <br>
            <ion-button fill="clear" routerLink="/supported-ministries">
              ministries we support
            </ion-button>

          </ion-col>

          <ion-col size-xs="12" class="ion-margin-bottom" size-xl="2.4" size-lg="2.4" size-md="4" size-sm="4">
            <h4 style="color: black">
              CONNECT:
            </h4>

            <ion-button fill="clear" routerLink="/connect">
              contact us
            </ion-button>
            <br>
            <ion-button fill="clear" routerLink="/connect">
              prayer
            </ion-button>
            <br>
            <ion-button fill="clear" routerLink="/calendar">
              calendar
            </ion-button>
            <br>
            <ion-button fill="clear" routerLink="/events">
              Featured events
            </ion-button>

          </ion-col>

          <ion-col size-xs="12" class="ion-margin-bottom" size-xl="2.4" size-lg="2.4" size-md="6" size-sm="6">
            <h4 style="color: black">
              RESOURCES:
            </h4>

            <ion-button fill="clear" disabled="true">
              store
            </ion-button>

            <ion-button fill="clear" disabled="true">
              businesses we support
            </ion-button>
          </ion-col>

          <ion-col size-xs="12" size-xl="2.4" size-lg="2.4" size-md="6" size-sm="6">
            <h4 style="color: black">
              SOCIAL:
            </h4>
            <ion-button fill="clear">
              <ion-icon slot="start" name="logo-youtube" class="red"></ion-icon>
              Youtube
            </ion-button>
            <br>
            <ion-button fill="clear">
              <ion-icon slot="start" name="logo-instagram" class="mixed"></ion-icon>
              Instagram
            </ion-button>
            <br>
            <ion-button fill="clear">
              <ion-icon slot="start" name="logo-facebook" class="blue_facebook"></ion-icon>
              Facebook
            </ion-button>
            <br>
            <ion-button fill="clear">
              <ion-icon slot="start" name="logo-twitter" class="blue_twitter"></ion-icon>
              Twitter
            </ion-button>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
  </ion-grid>
</ion-footer>
