ion-grid {
  --ion-grid-width-sm: 95%;
}

ion-footer {
  background: white;
}

ion-text {
  letter-spacing: 1px;
  line-height: 1.75;
  text-align: center;
  font-size: 17px;
  user-select: auto !important;
}

ion-button {
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 2%;
  text-transform: capitalize;
  color: black;
}

ion-icon {
  font-size: 28px;
}

.red {
  color: red;
}

.blue_twitter {
  color: #1D9BF0;
}

.blue_facebook {
  color: #1877f2;
}

.mixed {
  color: #f54c0f;
}

ion-title {
  --color: black;
  margin-bottom: 3%;
}

ion-label {
  --color: black;
}

.ion-margin-bottom {
  margin-bottom: 7%;
}
