
ion-grid {
  padding: 50px;
}

ion-text {
  letter-spacing: 1px;
  line-height: 1.75;
  text-align: center;
}

ion-button {
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 2%;
}

ion-icon {
  font-size: 28px;
  //margin-right: 5%;
}

.red {
  color: red;
}

.blue_twitter {
  color: #1D9BF0;
}

.blue_facebook {
  color: #1877f2;
}

.mixed {
  color: #f54c0f;
}

ion-item {
  width: 50%;
  --background-hover-opacity: .15;
  margin: 0 auto;
  text-align: center;
}
