ion-grid {
  padding: 90px 0px 30px 0px;
}

ion-title {
  font-weight: bold;
  font-size: 60px;
  letter-spacing: .05em;
  font-family: Roboto;
}

ion-card-header {
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
}

ion-card-subtitle {
  margin-top: .5%;
}

img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

div.img_good {
  width: 100%;
  height: 100%;
}

ion-card {
  box-shadow: none !important;
  height: auto;
}

ion-row {
  padding: 0px 60px 0px 60px;
}

ion-item {
  --background-hover: white;
  --inner-padding-end: 0px;
}

ion-searchbar {
  --box-shadow: none !important;
  --background: #eaeaea;
  --border-radius: 8px;
}

.mat-paginator {
  display: flex;
  justify-content: center;
}

ion-row.bottom_border {

}

.bottom_border:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 100%;
  padding-top: 10px;
  border-bottom: 2px solid #b9b9b9;
}
