<ion-grid [fixed]="true">
  <ion-row>
    <ion-col size-xl="12">
      <div class="ion-text-wrap">
        <h3 style="text-align: center;">
          {{title | uppercase}}
        </h3>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center bottom_border">
    <ion-col size-xs="12" size-md="6" offset-md="3">
      <ion-searchbar debounce="500" (ionChange)="handleChange($event)">
      </ion-searchbar>

    </ion-col>
  </ion-row>

  <ng-container *ngIf="title !== 'Series'">
    <ion-row style="padding-top: 30px" *ngIf="objectArray | async as watchCards">
      <ion-col size-xl="4" size-sm="4" size-xs="12" class="custom"
               *ngFor="let cards of watchCards | paginate: {itemsPerPage: 15, currentPage: page, totalItems: watchCards.length}">
        <ion-card mode="md" (click)="navigateToSermonOrDevotionalOrGuestSpeaker(cards)">
          <div class="img_good">
            <picture type="image/webp">
              <img alt="img-src" [ngSrc]="cards.imageUrl" decoding="async" priority width="" height="">
            </picture>
          </div>

          <ion-card-header>
            <ion-card-title>{{cards.title}}</ion-card-title>
            <ion-card-subtitle>{{cards.date | date: 'MMMM dd, yyyy' }}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ng-container>

  <ng-container *ngIf="title === 'Series'">
    <ion-row style="padding-top: 30px" *ngIf="seriesArray | async as seriesCards">
      <ion-col size-xl="4" size-sm="6" size-xs="12" class="custom"
               *ngFor="let cards of seriesCards | paginate: {itemsPerPage: 15, currentPage: page, totalItems: seriesCards.length}">
        <ion-card mode="md" (click)="navigateToSeriesPage(cards)">
          <div class="img_good">
            <picture type="image/webp">
              <img alt="img-src" [ngSrc]="cards.imageUrl" decoding="async" priority width="" height="">
            </picture>
          </div>
          <ion-card-header>
            <ion-card-title>{{cards.title}}</ion-card-title>
            <ion-card-subtitle>{{cards.date | date: 'MMMM dd, yyyy' }}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ng-container>

  <ion-row>
    <ion-col>
      <div style="text-align: center">
        <pagination-controls (pageChange)="pageEvent($event)"></pagination-controls>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
