<ion-content style="color: white">
  <ion-grid class="ion-no-padding" style="height: 75%">
    <ion-row style="height: 100%; background: black">
      <ion-col style="height: 100%" size="12">
        <div class="outside_home_worship">
          <video playsinline [muted]="true" loop id="video" height="100%" autoplay>
            <source src="{{homeInfo()?.videoUrl}}" type="video/mp4">
            <source src="{{homeInfo()?.videoUrl}}" type="video/webm">
            <source src="{{homeInfo()?.videoUrl}}" type="video/mov">
          </video>
          <div class="inside">
            <ion-grid>
              <ion-row class="ion-text-center ion-justify-content-center">
                <ion-col size-xs="12" size-sm="10" size-md="8" size-lg="7" size-xl="6">
                  <picture style="display: block">
                    <source type="image/webp">
                    <img [ngSrc]="homeInfo()?.homePageTitle" priority="true" alt="" style="min-height: 80px; "
                         width="" height="">
                  </picture>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid style="height: 100%" class="ion-no-padding inside" [fixed]="true" >
    <ion-row style="padding: 2% 0 2% 0">
      <ion-col size-xs="12" size-md="6">
        <h1 style="font-size: 50px">Audio</h1>
        <ion-card style="max-width: 450px; min-width: 300px;">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png"/>
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col size-xs="12" size-md="6">
        <h1 style="font-size: 50px">Music Videos</h1>
        <ion-card style="max-width: 450px; min-width: 300px;">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png"/>
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
  <!--  Website footer-->
<!--  <app-footer></app-footer>-->
</ion-content>
