h1.video_text {
  font-size: clamp(34px, 4vw, 60px);
  font-weight: normal;
  font-family: Arial, serif;
  line-height: 1.5em;
  color: white;
}

ion-button.video_text {
  font-size: 15px;
  height: 3.55em;
  font-family: Roboto, serif;
  color: white;
  --border-color: white;
  text-transform: uppercase;
  width: 165px;
}

ion-card.audio {
  margin: 0 auto !important;
}

h1 {
  font-size: clamp(34px, 3vw, 60px);
  font-weight: normal;
  font-family: Arial, serif;
  line-height: 1.5em;
  color: white;
  margin: 2% 0 2% 0;
}

ion-grid.inside {
  --ion-grid-width: 95%;
  --ion-grid-column-padding-md: 15px;
  --ion-grid-column-padding-sm: 30px;

  //--ion-grid-width-sm: 288px;
  //--ion-grid-width-md: 384px;
  //--ion-grid-width-lg: 480px;
  //--ion-grid-width-xl: 570px;
}
