ion-title {
  font-size: 64px;
  font-family: Arial;
  font-weight: normal;
  padding-left: 0px;
  margin-bottom: 1%;
}

ion-grid.contact {
  padding-top: 110px;
  margin-left: 10%;
  margin-right: 10%;
}

ion-label.input_color {
  --color: #031A2F;
  color: #031A2F;
  font-weight: bolder;
  font-family: Arial, serif;
  margin-bottom: 7px;
}

ion-item.no_background_color {
  --background: none;
}

ion-col.margin_left {
  margin-left: 0 !important;
}

div.connect_div {
  text-align: center;
}

h2.connect {
  color: #031A2F;
  margin-bottom: 2px;
}

ion-select {
  --placeholder-opacity: 1;
  --placeholder-color: #031A2F;
  font-size: 14px;
  background-color: #EEEEEE;
  border-radius: 4px;
  --padding-start: 5px;
  border: 1px solid #031A2F;
}

ion-select::part(text) {
  color: #031A2F;
}

ion-select::part(icon) {
  color: #031A2F;
  opacity: 1;
}

ion-button.connect_button {
  --background: #031A2F;
  color: #f5f5f5;
  font-weight: bold;
  letter-spacing: .1px;
  height: 2.5em;
  font-size: .95em;
  --border-radius: 3px;
}

small {
  font-size: 80%;
}

span.input_color {
  --color: #031A2F;
  color: #031A2F;
  font-weight: bold;
  font-size: 13px;
  font-family: Arial, serif;
  margin-bottom: 7px;
}

.connect_page_color {
  --background: #ffffff;
}

ion-input.background_color {
  background-color: #EEEEEE;
  border-radius: 4px;
  --padding-start: 5px;
  border: 1px solid #031A2F;
  color: #031A2F;
}

ion-textarea.background_color {
  background-color: #EEEEEE;
  border-radius: 4px;
  --padding-start: 5px;
  border: 1px solid #031A2F;
  color: #031A2F;
}

span.required {
  color: red;
}

ion-text.required_field{
  font-size: 12px;
  color: #031A2F;
}


