ion-title {
  font-size: 64px;
  font-family: Arial;
  font-weight: normal;
  padding-left: 0px;
  margin-bottom: 1%;
}

ion-grid.contact {
  padding-top: 90px;
  margin-left: 13%;
  margin-right: 13%;
}
