ion-title {
  font-size: 66px;
  font-family: Arial;
  font-weight: normal;
}

ion-grid.connect {
  padding: 120px 0px 0px 0px;
  //margin-bottom: 5%;
}
::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: purple;
  }

  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
    color: purple;
  }

  .mat-select-panel {
    font-size: 20px;
  }
}

span.required {
  color: red;
}
