h3 {
  font-size: 4.5vmax;
  font-family: Arial, serif;
  font-weight: normal;
  margin-bottom: 0;
}

ion-grid.connect {
  margin-top: 6%;
}

.mat-form-field {
  color: purple;
}

span.required {
  color: red;
}

ion-col.contact_padding {
  padding: 12px 12px 0 12px;
}

ion-button {
  --background: purple;
  --border-radius: 3px;
  color: #f5f5f5;
  letter-spacing: 1px;
  height: 2.5em;
  font-size: .95em;
}
