ion-title {
  font-size: 4.5vmax;
  font-family: Arial;
  font-weight: normal;
  //height: 100%;
}

ion-grid.connect {
  //padding: 120px 0px 0px 0px;
  margin-top: 6%;
}
::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: purple;
  }

  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
    color: purple;
  }

  .mat-select-panel {
    font-size: 20px;
  }
}

span.required {
  color: red;
}

ion-col.contact_padding {
  padding: 12px;
}
