<ion-content style="--background: white; --color: black">
  @if (ourMinistries()) {
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="12">
          <div class="outside">
            <img ngSrc="{{ourMinistries()?.ourMinistriesPage.coverPhoto}}" priority fill alt=""
                 ngSrcset="100w, 200w, 400w, 800w, 1200w, 1920w, 2560w">
            <div class="inside">
              <h1>{{ ourMinistries()?.ourMinistriesPage.title }}</h1>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <app-display-cards [displayCards]="ourMinistries()?.ourMinistriesPage?.displayCards"></app-display-cards>
    <app-footer></app-footer>
  } @else {
    <ion-grid [fixed]="true" style="height: 100%">
      <ion-row style="height: 100%" class="ion-text-center">
        <ion-col style="height: 100%" class="ion-text-center">
          <ion-spinner name="lines"></ion-spinner>
        </ion-col>
      </ion-row>
    </ion-grid>
  }
</ion-content>
