<ion-content style="--background: white; --color: black">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <div class="outside">
          <img src="{{businessesWeSupport().coverPhoto}}">
          <div class="inside">
            <h1>{{businessesWeSupport().title}}</h1>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-display-cards [displayCards]="displayBusinessCards$"></app-display-cards>
  <app-footer></app-footer>
</ion-content>
