img.main {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img.victors {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

ion-text {
  font-size: clamp(19px, 2vw, 22px);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: black;
  letter-spacing: 0.02em;
}
ion-card-title {
  font-family: "Inknut Antiqua", serif;
  text-align: center;
}
ion-card-content {
  font-family: "Inknut Antiqua", serif;
  text-align: center;
}
ion-card {
  display: block;
  box-shadow: none !important;
}
