<ion-grid [fixed]="true" style="margin-top: 3%">
  <ion-row>
    <ion-col>
      <h1 style="margin-bottom: 2%; padding-left: 4px;">{{selectedCategory}}</h1>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="displayCards | async as cards" class="ion-text-left">
    <ion-col *ngFor="let card of cards; let i = index" size-xl="4" size-sm="6" size-xs="12" class="ion-no-padding">
      <ion-card mode="md" style="max-width: 421px;">
        <swiper-container style="height: 300px" pagination="true">
          <swiper-slide *ngFor="let cardImage of card.imageUrl">
            <div style="height: 100%; width: 100%">
              <img src="{{cardImage}}" alt="" style="height: 100%; width: 100%">
            </div>
          </swiper-slide>
        </swiper-container>
        <ion-card-header>
          <ng-container *ngIf="card.type !== 'CHURCH LEADERSHIP'">
            <ion-card-subtitle *ngIf="card.startDate !== null">{{card.startDate | date: 'MMMM dd, yyyy' }}</ion-card-subtitle>
            <ion-card-subtitle *ngIf="card.type !== null && card.startDate === null">{{card.type}}</ion-card-subtitle>
          </ng-container>
          <ng-container *ngIf="card.type === 'CHURCH LEADERSHIP'">
            <ion-card-subtitle *ngIf="card.type !== null && card.startDate === null">{{card.description}}</ion-card-subtitle>
          </ng-container>
          <ion-card-title>{{card.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="card.type !== 'CHURCH LEADERSHIP'" [ngClass]="{'limitTextHeight': isSelected !== i}">{{card.description}}</ion-card-content>

        <ion-grid class="custom_buttons" fixed="true">
          <ion-row *ngIf="card.type !== 'CHURCH LEADERSHIP'">
            <ion-col size="6" class="ion-no-padding">
              <ion-button class="transparent"
                          (click)="isSelected === i ? isSelected = null : isSelected = i"
              style="text-transform: capitalize">
                {{ isSelected !== i ? 'Read More' : 'Read Less'}}</ion-button>
            </ion-col>
            <ion-col style="text-align: end" class="ion-no-padding">
              <ion-button *ngIf="card.learnMore" (click)="navigateToPage()" class="learn" style="text-transform: capitalize">Contact Us</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
