<ion-grid [fixed]="true" style="margin-top: 3%">
  <ion-row>
    <ion-col>
      <h1 style="margin-bottom: 2%; padding-left: 4px;">{{selectedCategory}}</h1>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="displayCards | async as cards" class="ion-text-left">
    <ion-col *ngFor="let card of cards" size-xl="4" size-sm="6" size-xs="12" class="ion-no-padding">
      <ion-card mode="md" style="max-width: 421px;">
        <swiper-container style="height: 300px" pagination="true">
          <swiper-slide *ngFor="let cardImage of card.imageUrl">
            <div style="height: 100%; width: 100%">
              <img src="{{cardImage}}" alt="" style="height: 100%; width: 100%">
            </div>
          </swiper-slide>
        </swiper-container>
        <ion-card-header>
          <ion-card-title>{{card.title}}</ion-card-title>
          <ion-card-subtitle>{{card.startDate | date: 'MMMM dd, yyyy' }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>{{card.description}}</ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
