<ion-grid [fixed]="true" style="margin-top: 3%; margin-bottom: 3%">
  @if (displayCards) {
    <ion-row class="ion-text-left">
      @for (card of displayCards;track card;let i = $index) {
        <ion-col size-xl="4" size-sm="6" size-xs="12" class="ion-no-padding">
          <ion-card mode="md" style="max-width: 421px;">
            <swiper-container style="height: 330px" pagination="true">
              @for (cardImage of card.imageUrl;track cardImage) {
                <swiper-slide>
                  <div style="height: 100%; width: 100%">
                      <img ngSrc="{{cardImage}}" alt="" style="min-height: 330px; max-height: 330px; width: 100%;"
                           decoding="async" priority fill ngSrcset="" sizes="">
                  </div>
                </swiper-slide>
              }
            </swiper-container>
            <ion-card-header>
              @if (card.type !== 'CHURCH LEADERSHIP') {
                @if (card.startDate !== null) {
                  <ion-card-subtitle>{{ card.startDate | date: 'MMMM dd, yyyy' }}</ion-card-subtitle>
                }
                @if (card.type !== null && card.startDate === null) {
                  <ion-card-subtitle>{{ card.type }}</ion-card-subtitle>
                }
              } @else {
                @if (card.type !== null && card.startDate === null) {
                  <ion-card-subtitle>{{ card.description }}</ion-card-subtitle>
                }
              }
              <ion-card-title>{{ card.title }}</ion-card-title>
            </ion-card-header>
            @if (card.type !== 'CHURCH LEADERSHIP') {
              <ion-card-content [ngClass]="{'limitTextHeight': isSelected !== i}">{{ card.description }}
              </ion-card-content>
            }
            @if (card.type !== 'CHURCH LEADERSHIP') {
              <ion-grid class="custom_buttons">
                <ion-row>
                  <ion-col size="6" class="ion-no-padding">
                    <ion-button class="transparent"
                                (click)="isSelected === i ? isSelected = null : isSelected = i"
                                style="text-transform: capitalize"
                                size="small">
                      {{ isSelected !== i ? 'Read More' : 'Read Less' }}
                    </ion-button>
                  </ion-col>
                  <ion-col style="text-align: end" class="ion-no-padding">
                    @if (card.learnMore) {
                      @if (card.title === 'Kid\'s Ministry') {
                        <ion-button (click)="navigateToKidsPage()" fill="outline" class="learn" style="text-transform: capitalize" size="small">Learn More</ion-button>
                      } @else {
                        <ion-button (click)="navigateToPage()" fill="outline" class="learn" style="text-transform: capitalize" size="small">Contact Us</ion-button>
                      }
                    }
                  </ion-col>
                </ion-row>
              </ion-grid>
            }
          </ion-card>
        </ion-col>
      }
    </ion-row>
  }
</ion-grid>
