<ion-card style="box-shadow: none !important;" mode="md">
  <ion-card-header>
    <ion-card-subtitle>HISTORY</ion-card-subtitle>
    <ion-card-title>The Father's House History</ion-card-title>
  </ion-card-header>
  <ion-card-content style="padding: 0px">
    <!--    <ul>-->
    <!--      <li style="&#45;&#45;accent-color:purple">-->
    <!--        <div class="date">2002</div>-->
    <!--        <div class="title">Title 1</div>-->
    <!--        <div class="descr">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas itaque hic quibusdam fugiat est numquam harum, accusamus suscipit consequatur laboriosam!</div>-->
    <!--      </li>-->
    <!--      <li style="&#45;&#45;accent-color:purple">-->
    <!--        <div class="date">2007</div>-->
    <!--        <div class="title">Title 2</div>-->
    <!--        <div class="descr">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos adipisci nobis nostrum vero nihil veniam.</div>-->
    <!--      </li>-->
    <!--      <li style="&#45;&#45;accent-color:purple">-->
    <!--        <div class="date">2012</div>-->
    <!--        <div class="title">Title 3</div>-->
    <!--        <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga minima consequuntur soluta placeat iure totam commodi repellendus ea delectus, libero fugit quod reprehenderit, sequi quo, et dolorum saepe nulla hic.</div>-->
    <!--      </li>-->
    <!--      <li style="&#45;&#45;accent-color:purple">-->
    <!--        <div class="date">2017</div>-->
    <!--        <div class="title">Title 4</div>-->
    <!--        <div class="descr">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, cumque.</div>-->
    <!--      </li>-->
    <!--      <li style="&#45;&#45;accent-color:purple">-->
    <!--        <div class="date">2022</div>-->
    <!--        <div class="title">Title 5</div>-->
    <!--        <div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, non.</div>-->
    <!--      </li>-->
    <!--    </ul>-->
    <ul class="timeline">
      <!-- Item 1 -->
      <li>
        <div class="direction-l">
          <div class="flag-wrapper">
            <span class="hexa"></span>
            <span class="flag">Lorem ipsum.</span>
            <span class="time-wrapper"><span class="time">Feb 2015</span></span>
          </div>
          <div class="desc">Lorem ipsum Nisi labore aute do aute culpa magna nulla voluptate exercitation deserunt
            proident.
          </div>
        </div>
      </li>

      <!-- Item 2 -->
      <li>
        <div class="direction-r">
          <div class="flag-wrapper">
            <span class="hexa"></span>
            <span class="flag">Lorem ipsum Anim.</span>
            <span class="time-wrapper"><span class="time">Dec 2014</span></span>
          </div>
          <div class="desc">Lorem ipsum In ut sit in dolor nisi ex magna eu anim anim tempor dolore aliquip enim
            cupidatat laborum dolore.
          </div>
        </div>
      </li>

      <!-- Item 3 -->
      <li>
        <div class="direction-l">
          <div class="flag-wrapper">
            <span class="hexa"></span>
            <span class="flag">Lorem Occaecat.</span>
            <span class="time-wrapper"><span class="time">July 2014</span></span>
          </div>
          <div class="desc">Lorem ipsum Minim labore Ut cupidatat quis qui deserunt proident fugiat pariatur cillum
            cupidatat reprehenderit sit id dolor consectetur ut.
          </div>
        </div>
      </li>
    </ul>
  </ion-card-content>
</ion-card>

