ion-grid {
  --ion-grid-width: 94%;
  --ion-grid-width-md: 85%;
  --ion-grid-width-xl: 95%;
}

.margin_top {
  margin-top: 6%
}

.trial {
  height: calc(100vh - 500px);
  width: calc(100vw - 100px);
}

.trialTwo {
  height: 100%;
  width: 100%;
}

.text{
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}

.icon {
  display: inline-block;
  font-size: 26px;
  vertical-align: middle;
}

ion-card {
  --background: #ffffff;
  box-shadow: none;
}

ion-card-content {
  padding: 0;
}

ion-col.col-subtitle-margin {
  margin-top: 1%;
}

ion-button[shape=circle] {
  --background: purple;
  --background-activated: #811be7;
  --border-radius: 100%;
  width: 42px;
  height: 42px;
  --padding-start: 0px;
  --padding-end: 0px;
}

ion-icon {
  font-size: 1.4em;
  color: #ffffff;
}

ion-text.white {
  color: black;
}


ion-col.small-margin {
  margin-top: 1.5%;
}

ion-button.copy {
  --background: purple;
  --background-activated: #343436;
  color: #ffffff;
  font-weight: bold;
  border-radius: 4px;
}
.ion-valid.sc-ion-textarea-md-h {
  --highlight-color: none !important;
}

