<ng-container *ngIf="platformWidth > 900">
  <ion-header style="height: 100%">
    <mat-toolbar style="height: 12vh; background: white">

      <ion-buttons slot="start" class="left-side" style="padding-top: 7px">
        <a routerLink="/home">
          <img src="assets/icon/church_home_logo.svg" style="height: 10vh;">
        </a>
      </ion-buttons>

      <span class="spacer"></span>

      <ion-buttons slot="end" class="right-side">

        <div class="dropdown">
          <div class="inner-center-div">
            <ion-button class="dropbtn">ABOUT
              <ion-icon name="chevron-down-outline"></ion-icon>
            </ion-button>
          </div>
          <div class="dropdown-content">
            <a routerLink="/church">OUR CHURCH</a>
            <a routerLink="/ministries">OUR MINISTRIES</a>
            <a routerLink="/leadership">LEADERSHIP</a>
            <a routerLink="/supported-ministries">MINISTRIES WE SUPPORT</a>
          </div>
        </div>

        <div class="dropdown">
          <div class="inner-center-div">
            <ion-button class="dropbtn">Connect
              <ion-icon name="chevron-down-outline"></ion-icon>
            </ion-button>
          </div>
          <div class="dropdown-content">
            <a routerLink="/service">SERVICE TIMES</a>
            <a routerLink="/prayer">PRAYER</a>
            <a routerLink="/directions">DIRECTIONS</a>
            <a routerLink="/connect">CONTACT US</a>
          </div>
        </div>

        <div class="dropdown">
          <div class="inner-center-div">
            <ion-button class="dropbtn">Watch
              <ion-icon name="chevron-down-outline"></ion-icon>
            </ion-button>
          </div>
          <div class="dropdown-content">
            <a href="/sermons">SERMONS</a>
            <a href="/series">SERIES</a>
            <a href="/devotionals">DEVOTIONALS</a>
            <a href="/guest-speakers">GUEST SPEAKERS</a>
          </div>
        </div>

        <div class="dropdown">
          <div class="inner-center-div">
            <ion-button class="dropbtn">Events
              <ion-icon name="chevron-down-outline"></ion-icon>
            </ion-button>
          </div>
          <div class="dropdown-content">
            <a routerLink="/calendar">CALENDAR</a>
            <a routerLink="/events">ALL EVENTS</a>
          </div>
        </div>

        <div class="inner-center-div">
          <ion-button style="min-width: 80px; padding-right: 10px" disabled="true">
            Store
          </ion-button>
        </div>

        <div class="inner-center-div">
          <ion-button fill="outline" style="width: 100px;"
                      href="https://app.securegive.com/tfhfreeport/main/donate/category">
            Give
          </ion-button>
        </div>


      </ion-buttons>


    </mat-toolbar>
  </ion-header>
</ng-container>

<ng-container *ngIf="platformWidth <= 900">

<!--  Ion menu for smaller devices-->
  <ion-menu contentId="main-content" side="end">
    <ion-header style="height: 10vh">
      <ion-toolbar class="custom_toolbar_menu">
        <ion-title>The Father's House</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="custom_background">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col class="ion-no-padding">
            <ion-accordion-group>
              <ion-accordion value="about">
                <ion-item slot="header" class="custom_color">
                  <ion-icon name="newspaper-outline" slot="start" class="ion-icon-menu"></ion-icon>
                  <ion-label style="font-size: 18px; font-weight: bold; letter-spacing: 1px">About</ion-label>
                </ion-item>
                <div class="div-padding" slot="content">
                  <ion-item-group>
                    <ion-item lines="none">
                      <a class="changes" routerLink="/church">OUR CHURCH</a>
                    </ion-item>
                    <ion-item lines="none">
                      <a class="changes" routerLink="/ministries">OUR MINISTRIES</a>
                    </ion-item>
                    <ion-item lines="none">
                      <a class="changes" routerLink="/leadership">LEADERSHIP</a>
                    </ion-item>
                    <ion-item lines="none">
                      <a class="changes" routerLink="/supported-ministries">MINISTRIES WE SUPPORT</a>
                    </ion-item>
                  </ion-item-group>
                </div>
              </ion-accordion>
              <ion-accordion value="connect">
                <ion-item slot="header">
                  <ion-icon name="people-circle-outline" slot="start" class="ion-icon-menu"></ion-icon>
                  <ion-label style="font-size: 18px; font-weight: bold">Connect</ion-label>
                </ion-item>
                <div class="div-padding" slot="content">
                  <ion-item-group>
                    <ion-item lines="none">
                      <a class="changes" routerLink="/service-times">SERVICE TIMES</a>
                    </ion-item>
                    <ion-item lines="none">
                      <a class="changes" routerLink="/prayer">PRAYER</a>
                    </ion-item>
                    <ion-item lines="none">
                      <a class="changes" routerLink="/directions">DIRECTIONS</a>
                    </ion-item>
                    <ion-item lines="none">
                      <a class="changes" routerLink="/contact">CONTACT US</a>
                    </ion-item>
                  </ion-item-group>
                </div>
              </ion-accordion>
              <ion-accordion value="watch">
                <ion-item slot="header">
                  <ion-icon name="play-circle-outline" slot="start" class="ion-icon-menu"></ion-icon>
                  <ion-label style="font-size: 18px; font-weight: bold">Watch</ion-label>
                </ion-item>
                <div class="div-padding" slot="content">
                  <ion-item-group>
                    <ion-item lines="none">
                      <a class="changes" routerLink="/sermons">SERMONS</a>
                    </ion-item>
                    <ion-item lines="none">
                      <a class="changes" routerLink="/series">SERIES</a>
                    </ion-item>
                    <ion-item lines="none">
                      <a class="changes" routerLink="/devotionals">DEVOTIONALS</a>
                    </ion-item>
                    <ion-item lines="none">
                      <a class="changes" routerLink="/guest-speakers">GUEST SPEAKERS</a>
                    </ion-item>
                  </ion-item-group>
                </div>
              </ion-accordion>
              <ion-accordion value="events">
                <ion-item slot="header" lines="full">
                  <ion-icon name="calendar-number-outline" slot="start" class="ion-icon-menu"></ion-icon>
                  <ion-label style="font-size: 18px; font-weight: bold">Events</ion-label>
                </ion-item>
                <div class="div-padding" slot="content">
                  <ion-item-group>
                    <ion-item lines="none">
                      <a class="changes" routerLink="/calendar">CALENDAR</a>
                    </ion-item>
                    <ion-item lines="none">
                      <a class="changes" routerLink="/events">ALL EVENTS</a>
                    </ion-item>
                  </ion-item-group>
                </div>
              </ion-accordion>
            </ion-accordion-group>
            <div class="ion-margin-top">
              <ion-button fill="outline" style="width: 100%; height: 50px" class="font-size custom"
                          href="https://app.securegive.com/tfhfreeport/main/donate/category">
                Give
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-menu>

<!--  Toolbar for the Ion menu for mobile devices or small screen things-->
  <mat-toolbar class="custom_mat_toolbar mat-elevation-z2">
    <div class="ion-page" id="main-content">
      <ion-header style="height: 10vh">
        <ion-toolbar class="custom_toolbar">

          <ion-buttons slot="start" style="padding-top: 7px">
            <a routerLink="/home">
              <img src="assets/icon/church_home_logo.svg" style="height: 8vh;">
            </a>
          </ion-buttons>

          <span class="spacer"></span>

          <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>

        </ion-toolbar>
      </ion-header>
    </div>
  </mat-toolbar>

</ng-container>

