ion-icon.size {
  font-size: 40px;
}

mat-toolbar {
  padding-right: 20px;
  padding-left: 20px;
}

ion-button {
  width: auto;
  font-weight: bold;
  font-family: Arial;
  display: inline-block;
  margin: 0px;
}

ion-icon {
  font-size: 15px;
}

.spacer {
  flex: 1 1 auto;
}

//Drop-down button group
.dropbtn {
  font-weight: bold;
  font-family: Arial;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.inner-center-div {
  display: flex;
  text-align: center;
  margin-right: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 15px;
}

.dropdown-content a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
  font-size: .70em;
  font-family: "Segoe UI";
  font-weight: bold
}

.dropdown-content a:hover {
  color: purple;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  width: inherit;
  border-bottom: 3px solid purple;
}

.custom_toolbar {
  --background: white;
  --color: black;
  --min-height: 10vh;
  padding-left: 10px;
  padding-right: 10px;
}

.custom_toolbar_menu {
  --background: var(--ion-color-primary-shade);
  --color: white;
  --min-height: 12vh;
  padding-left: 10px;
  padding-right: 10px;
}

.custom_mat_toolbar {
  background: white;
  height: 12vh;
  position: relative;
  z-index: 1;
}

ion-menu-button {
  font-size: 45px;
}

.ion-icon-menu {
  font-size: 26px;
  color: white;
  margin-inline-end: 16px;
}
ion-accordion {
  //margin-top: 5%;
}

.font-size {
  font-size: 18px;
}

a.changes {
  color: black;
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  font-size: 1em;
  font-family: Arial;
}

ion-content.custom_background {
  --background: rgb(0 0 0 / 90%);
}

//ion-button.custom {
//  //--border-color: var(--ion-color-primary-contrast);
//  --color: var(--ion-color-primary-contrast);
//  text-transform: none;
//  font-weight: normal;
//  font-family: Roboto, "Helvetica Neue", sans-serif;
//  span {
//    text-align: left;
//    width: 100%;
//  }
//}

ion-item.custom_color {
  --color: white;
  --border-color: white;
  --background: transparent;
  --background: rgb(0 0 0 / 90%);
}

div.div-padding {
  padding: 16px;
  background-color: white;
}

ion-menu {
  --background: transparent;
  --ion-background-color: transparent;
  --ion-color-base: transparent !important;

  ion-content {
    --background: rgb(0 0 0 / 90%);
  }
}

h3 {
  font-size: 20px;
  color: white;
}
