ion-icon.size {
  font-size: 40px;
}

ion-button {
  width: 100px;
}

ion-buttons.right-side {
  margin-right: 3%;
}

ion-buttons.left-side {
  margin-left: 2%
}

ion-icon {
  font-size: 15px;
}

.spacer {
  flex: 1 1 auto;
}
