ion-icon.size {
  font-size: 40px;
}

ion-button {
  width: 105px;
}

ion-buttons.right-side {
  margin-right: 3%;
}

ion-buttons.left-side {
  margin-left: 2%
}

ion-icon {
  font-size: 15px;
}

.spacer {
  flex: 1 1 auto;
}

.button {
  font-weight: bold;
  font-family: Arial;
}

//Drop-down button group
.dropbtn {
  font-weight: bold;
  font-family: Arial;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.inner-center-div {
  display: flex;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
