<ion-header style="height: 100%">
  <mat-toolbar style="height: 100%; background: white" class="mat-elevation-z1">

<!--    <ion-buttons slot="start" class="left-side" style="padding-top: 7px">-->
<!--      <a href="/home">-->
<!--        <picture type="image/webp">-->
<!--          <img ngSrc="assets/icon/church_home_logo.svg" style="height: 12vh; padding: 5px" decoding="sync">-->
<!--        </picture>-->
<!--      </a>-->
<!--    </ion-buttons>-->
    <ion-buttons slot="start" class="left-side" style="padding-top: 7px">
      <a href="/home">
        <picture type="image/webp">
          <img src="assets/icon/church_home_logo.svg" style="height: 12vh; padding: 5px" alt="">
        </picture>
      </a>
    </ion-buttons>

    <span class="spacer"></span>

    @if (platformWidth > 975) {
      <ion-buttons slot="end" class="right-side">
        <div class="dropdown">
          <div class="inner-center-div">
            <ion-button class="dropbtn">About
              <ion-icon name="chevron-down-outline"></ion-icon>
            </ion-button>
          </div>
          <div class="dropdown-content">
            <a routerLink="/our-church">OUR CHURCH</a>
            <a routerLink="/faith-statement">STATEMENT OF FAITH</a>
            <a routerLink="/leadership">LEADERSHIP</a>
            <a routerLink="/missions">MISSIONS</a>
            <a routerLink="/our-ministries">OUR MINISTRIES</a>
            <a routerLink="/supported-ministries">MINISTRIES WE SUPPORT</a>
          </div>
        </div>
        <div class="dropdown">
          <div class="inner-center-div">
            <ion-button class="dropbtn">Connect
              <ion-icon name="chevron-down-outline"></ion-icon>
            </ion-button>
          </div>
          <div class="dropdown-content">
            <a routerLink="/connect">PRAYER</a>
            <a routerLink="/directions">DIRECTIONS</a>
            <a routerLink="/connect">CONTACT US</a>
          </div>
        </div>
        <div class="dropdown">
          <div class="inner-center-div">
            <ion-button class="dropbtn">Watch
              <ion-icon name="chevron-down-outline"></ion-icon>
            </ion-button>
          </div>
          <div class="dropdown-content">
            <a routerLink="/sermons">SERMONS</a>
            <a routerLink="/series">SERIES</a>
            <a routerLink="/devotionals">DEVOTIONALS</a>
            <a routerLink="/podcasts">PODCASTS</a>
          </div>
        </div>
        <div class="dropdown">
          <div class="inner-center-div">
            <ion-button class="dropbtn">Events
              <ion-icon name="chevron-down-outline"></ion-icon>
            </ion-button>
          </div>
          <div class="dropdown-content">
            <a routerLink="/calendar">CALENDAR</a>
            <a routerLink="/events">FEATURED EVENTS</a>
          </div>
        </div>
        <div class="dropdown">
          <div class="inner-center-div">
            <ion-button class="dropbtn">Resources
              <ion-icon name="chevron-down-outline"></ion-icon>
            </ion-button>
          </div>
          <div class="dropdown-content">
            <a routerLink="/sozo">Sozo</a>
            <a href="">PV Life Institute</a>
          </div>
        </div>
        <div class="inner-center-div">
          <ion-button style="min-width: 80px; padding-right: 10px" routerLink="/worship">
            Worship
          </ion-button>
        </div>
        <div class="inner-center-div">
          <ion-button fill="outline" style="width: 100px;"
            href="https://app.securegive.com/tfhfreeport/main/donate/category">
            Give
          </ion-button>
        </div>
      </ion-buttons>
    }

    @if (platformWidth <= 975) {
      <ion-buttons slot="end" class="right-side">
        <div id="main-content">
          <ion-buttons slot="end" style="padding: 5px">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </div>
      </ion-buttons>
    }

  </mat-toolbar>
</ion-header>

@if (platformWidth <= 975) {
  <ion-menu contentId="main-content" type="overlay" side="start" menuId="menu-one">
    <ion-header style="height: 14vh">
      <ion-toolbar class="custom_toolbar_menu">
        <h3>The Father's House</h3>
      </ion-toolbar>
    </ion-header>
    <ion-content class="custom_background">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col class="ion-no-padding">
            <ion-item button fill="clear" style="width: 100%; --min-height: 70px" lines="full"
              class="font-size custom_color" mode="md"
              href="home">
              <ion-label>Home</ion-label>
            </ion-item>
            <ion-accordion-group mode="md">
              <ion-accordion value="about" mode="md">
                <ion-item slot="header" class="custom_color" style="--min-height: 70px" color="none">
                  <ion-label style="font-size: 18px; letter-spacing: 1px">About</ion-label>
                </ion-item>
                <div class="div-padding" slot="content">
                  <ion-item-group>
                    <ion-item button lines="none" (click)="navigateToPage('our-church')">
                      <a class="changes">our church</a>
                    </ion-item>
                    <ion-item button lines="none" (click)="navigateToPage('faith-statement')">
                      <a class="changes">statement of faith</a>
                    </ion-item>
                    <ion-item button lines="none" (click)="navigateToPage('leadership')">
                      <a class="changes">leadership</a>
                    </ion-item>
                    <ion-item button lines="none" (click)="navigateToPage('missions')">
                      <a class="changes">missions</a>
                    </ion-item>
                    <ion-item button lines="none" (click)="navigateToPage('our-ministries')">
                      <a class="changes">our ministries</a>
                    </ion-item>
                    <ion-item button lines="none" (click)="navigateToPage('supported-ministries')">
                      <a class="changes">ministries we support</a>
                    </ion-item>
                  </ion-item-group>
                </div>
              </ion-accordion>
              <ion-accordion value="connect" mode="md">
                <ion-item slot="header" class="custom_color" style="--min-height: 70px">
                  <ion-label style="font-size: 18px;">Connect</ion-label>
                </ion-item>
                <div class="div-padding" slot="content">
                  <ion-item-group>
                    <ion-item button lines="none" (click)="navigateToPage('connect')">
                      <a class="changes">prayer</a>
                    </ion-item>
                    <ion-item button lines="none" (click)="navigateToPage('directions')">
                      <a class="changes">directions</a>
                    </ion-item>
                    <ion-item button lines="none" (click)="navigateToPage('connect')">
                      <a class="changes">contact us</a>
                    </ion-item>
                  </ion-item-group>
                </div>
              </ion-accordion>
              <ion-accordion value="watch" mode="md">
                <ion-item slot="header" class="custom_color" style="--min-height: 70px">
                  <ion-label style="font-size: 18px;">Watch</ion-label>
                </ion-item>
                <div class="div-padding" slot="content">
                  <ion-item-group>
                    <ion-item button lines="none" (click)="navigateToPage('sermons')">
                      <a class="changes">sermons</a>
                    </ion-item>
                    <ion-item button lines="none" (click)="navigateToPage('series')">
                      <a class="changes">series</a>
                    </ion-item>
                    <ion-item button lines="none" (click)="navigateToPage('devotionals')">
                      <a class="changes">devotionals</a>
                    </ion-item>
                    <ion-item button lines="none" (click)="navigateToPage('podcasts')">
                      <a class="changes">podcasts</a>
                    </ion-item>
                  </ion-item-group>
                </div>
              </ion-accordion>
              <ion-accordion value="events" mode="md">
                <ion-item slot="header" class="custom_color" style="--min-height: 70px">
                  <ion-label style="font-size: 18px;">Events</ion-label>
                </ion-item>
                <div class="div-padding" slot="content">
                  <ion-item-group>
                    <ion-item button lines="none" (click)="navigateToPage('calendar')">
                      <a class="changes">calendar</a>
                    </ion-item>
                    <ion-item button lines="none" (click)="navigateToPage('events')">
                      <a class="changes">featured events</a>
                    </ion-item>
                  </ion-item-group>
                </div>
              </ion-accordion>
              <ion-accordion value="resources" mode="md">
                <ion-item slot="header" class="custom_color" style="--min-height: 70px">
                  <ion-label style="font-size: 18px;">Resources</ion-label>
                </ion-item>
                <div class="div-padding" slot="content">
                  <ion-item-group>
                    <ion-item button lines="none" (click)="navigateToPage('sozo')">
                      <a class="changes">Sozo</a>
                    </ion-item>
                    <ion-item button lines="none">
                      <a class="changes" href="https://pvlifeinstitute.org">PV Life Institute</a>
                    </ion-item>
                  </ion-item-group>
                </div>
              </ion-accordion>
            </ion-accordion-group>
            <ion-item button fill="clear" style="width: 100%; --min-height: 70px" lines="full" mode="md" class="font-size custom_color" disabled (click)="navigateToPage('worship')">
              <ion-label>Worship</ion-label>
            </ion-item>
            <ion-item button fill="clear" style="width: 100%; --min-height: 70px" lines="full" mode="md"
              class="font-size custom_color"
              href="https://app.securegive.com/tfhfreeport/main/donate/category">
              <ion-label>Give</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-menu>
}

