<ion-content style="--background: white; --color: black">
  <ion-grid class="margin_top" style="margin-bottom: 5%" [fixed]="true">
    <ion-row>
      <ion-col size="12">
        <div (click)="back()" style="vertical-align: center; cursor: pointer; margin-bottom: 1.5%; text-align: left">
          <ion-icon name="arrow-back-outline" style="color: black" class="icon"></ion-icon>
          <span class="text">Back</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" size-lg="5" size-sm="7" class="ion-text-center">
        <div>
          <img src="{{calendarEvent.imageUrl}}">
        </div>
      </ion-col>
      <ion-col size-xs="12" size-lg="5" size-sm="5">
        <ion-grid class="">
          <ion-row>
            <ion-col size="12">
              <div>
                <h2>{{calendarEvent.title}}</h2>
              </div>
            </ion-col>
          </ion-row>
          <ion-row style="background: #efefef; border-radius: 5px; padding: 10px 10px 10px 10px">
            <ion-col size="4" size-sm="4.5">
              <div class="custom-cols">
                <ion-text>Date:</ion-text>
              </div>
            </ion-col>
            <ion-col size="7" size-sm="7.5">
              <div class="custom-cols">
                <ion-text class="custom-text">{{calendarEvent.date | date: 'MMMM dd, yyyy' }}</ion-text>
              </div>
            </ion-col>
            <ion-col size="4" size-sm="4.5">
              <div class="custom-cols">
                <ion-text> Time: </ion-text>
              </div>
            </ion-col>
            <ion-col size="7" size-sm="7.5">
              <div class="custom-cols">
                <ion-text class="custom-text">{{calendarEvent.time}}</ion-text>
              </div>
            </ion-col>
            <ion-col size="4" size-sm="4.5">
              <div class="custom-cols">
                <ion-text>Location:</ion-text>
              </div>
            </ion-col>
            <ion-col size="7" size-sm="7.5">
              <div class="custom-cols">
                <ion-text class="custom-text">{{calendarEvent.location}}</ion-text>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
