ion-card {
  box-shadow: none !important;
  border-radius: 0px;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
ion-grid {
  --ion-grid-width: 95%;
}
ion-card-content {
  padding-bottom: 0px;
}
ion-card-subtitle {
  margin-top: 1%;
  font-size:calc(11px + .5vw);
}
ion-card-header {
  padding-top: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
}
ion-card-title {
  font-size:calc(12px + .75vw);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ios ion-card-title {
  font-size:calc(12px + .75vw);
}

.ios ion-card-subtitle {
  font-size:calc(11px + .5vw);
}
