@if (eventsArray?.length > 0) {
  <ion-grid [fixed]="true" style="margin-top: 3%">
    <ion-row class="ion-text-left">
      @for (events of eventsArray; track events) {
        <ion-col size-xl="4" size-sm="4" size-xs="12" class="ion-no-padding">
          <ion-card button mode="md" (click)="takeToStandardLayout(events)">
            <img ngSrc="{{events?.imageUrl}}" decoding="async" fill alt="">
            <ion-card-header>
              <ion-card-title>{{ events.title }}</ion-card-title>
              @if (events.endDate) {
                <ion-card-subtitle>{{ events.startDate | date: 'MMMM dd, yyyy' }}
                  - {{ events.endDate | date: 'MMMM dd, yyyy' }}
                </ion-card-subtitle>
              } @else {
                <ion-card-subtitle>{{ events.startDate | date: 'MMMM dd, yyyy' }}</ion-card-subtitle>
              }
            </ion-card-header>
            <ion-card-content>{{ events.description }}</ion-card-content>
          </ion-card>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
}

