ion-title {
  font-size: 58px;
  font-family: Arial;
  font-weight: normal;
  padding-left: 0px;
  margin-bottom: 1%;
}

ion-grid.calendar {
  padding-top: 90px;
  margin-left: 13%;
  margin-right: 13%;
}

mat-form-field {
  font-size: 16px;
  font-family: Roboto;
  width: auto;
}

//change border of mat form field on click as well
::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: purple;
  }
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
    color: purple;
  }

  .mat-datepicker-toggle-active {
    color: purple;
  }
  .mat-calendar-body-selected {
    background-color: purple;
    color: white;
    opacity: .75;
  }
  .mat-calendar-body-cell-content.mat-focus-indicator {
    border-radius: 5px;
  }
}

//card for calendar
ion-card {
  margin: 0px;
  padding: 10px
}
ion-card-title {
  font-size: 28px;
  font-weight: normal;
}
ion-card-subtitle {
  font-size: 16px;
}
ion-card-content {
  font-size: 14px;
  color: black
}
ion-title.in-card {
  font-size: 20px;
  color: darkblue;
  padding-right: 0px;
}


