<app-header>
</app-header>


<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row style="height: 800px">
      <ion-col style="height: 100%">
          <video autoplay [muted]="true" loop id="video">
            <source
              src="https://link.us1.storjshare.io/s/juwku3bd7kmjdfhgsscc7yqxg42a/church-images/eventstabcard/missions-trips-pictures/Kenya%20School%20Uniform.mp4?view">
          </video>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

      </ion-col>
    </ion-row>
  </ion-grid>


  <!--  Website footer-->
  <!--  <app-footer></app-footer>-->
</ion-content>

