<ion-content style="color: white">
  @if (homeInfo()) {
    <ion-grid class="ion-no-padding">
      @if (homeInfo().emergency.emergency) {
        <ion-row style="background: #ecebeb; height: 70px">
          <ion-col size="12" style="height: 100%">
            <div style="text-align: center; height: 100%; width: 100%; display: table">
              <ion-button
                style="display: table-cell; vertical-align: middle; color: black; --background: #ecebeb; pointer-events: none"
                class="ion-text-wrap">
                <ion-icon name="warning-outline" style="color: red; font-size: 30px"></ion-icon>
                {{ homeInfo().emergency.title }}
                <ion-icon name="warning-outline" style="color: red; font-size: 30px"></ion-icon>
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      }
<!--      <ion-row style="height: auto">-->
<!--        <div style="height: 100%; background: black; width: 100%">-->
<!--        <ion-col>-->
<!--          <picture>-->
<!--            <source type="image/webp" srcset="">-->
<!--            <img [ngSrc]="homeInfo().homePageTitle" priority="true" alt="" style="min-height: 80px;"-->
<!--                 width="" height="">-->
<!--          </picture>-->
<!--        </ion-col>-->
<!--        </div>-->

<!--      </ion-row>-->
      <ion-row style="height: 87vh; background: black">
        <ion-col style="height: 100%" size="12">
          <div class="outside_home" style="background: black">
            <div class="inside">
              <div style="width: 100%; z-index: 100">
                <ion-grid>
                  <ion-row class="ion-text-center ion-justify-content-center">
                    <ion-col size-xs="12" size-sm="10" size-md="8" size-lg="7" size-xl="6">
                      <picture>
                        <source type="image/webp" srcset="">
                        <img [ngSrc]="homeInfo().homePageTitle" priority="true" alt="" style="min-height: 80px;"
                             width="" height="">
                      </picture>
                    </ion-col>
                    <br><br><br><br><br>
                    <ion-col size="12">
                      <ion-row>
                        <ion-col size-sm="6" class="ion-text-sm-end" size-xs="12">
                          <div style="padding-right: 3%; padding-left: 3%">
                            <ion-button fill="outline" class="video_text" (click)="navigateToPage('connect')">
                              Connect
                            </ion-button>
                          </div>
                        </ion-col>
                        <ion-col size-sm="6" class="ion-text-sm-start" size-xs="12">
                          <div style="padding-left: 3%; padding-right: 3%">
                            <ion-button fill="outline" class="video_text" (click)="navigateToPage('directions')">
                              Join in Person
                            </ion-button>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </div>
<!--            <video autoplay [muted]="true" loop id="video" height="100%" playsinline>-->
<!--              <source src="{{homeInfo().videoUrl}}" type="video/mp4">-->
<!--              <source src="{{homeInfo().videoUrl}}" type="video/mov">-->
<!--              <source src="{{homeInfo().videoUrl}}" type="video/webm">-->
<!--            </video>-->

          </div>
        </ion-col>
      </ion-row>

      <ion-row style="background: white">
        <ion-col size="12">
          <div style="text-align: center; border-bottom: 2px solid black">
            <h5>{{ homeInfo().serviceTimesTitle }}</h5>
            <p class="times">{{ homeInfo().serviceTimes }}</p>
          </div>
        </ion-col>
      </ion-row>
      <!--    WHO WE ARE-->
      <ion-row style="height: auto; min-height: auto; background: #1e2a4b;">
        <ion-col style="padding: 4%; height: auto" size-lg="7" size-xs="12">
          <h1 class="new_here">
            {{ homeInfo().whoWeAreTitle }}
          </h1>
          <div class="about">
            <div style="width: 90%" class="new_here">
              <ion-text class="new_here">
                {{ homeInfo().whoWeAreDescription }}
              </ion-text>
            </div>
          </div>
          <div style="margin-top: 4%">
            <ion-button fill="outline" class="new_here" style="margin-right: 5%" (click)="navigateToPage('our-church')">
              Learn More
            </ion-button>
            <ion-button fill="outline" class="new_here" (click)="navigateToPage('faith-statement')">
              statement of faith
            </ion-button>
          </div>
        </ion-col>
        <ion-col size-lg="5">
          <div style="text-align: center; height: 100%">
            <picture class="who_we_are" style="height: 100%">
              <source type="image/webp">
              <img [ngSrc]="homeInfo().whoWeAreImageUrl" decoding="async" priority fill alt="" class="home_images">
            </picture>
          </div>
        </ion-col>
      </ion-row>
      <!--      Featured Events  -->
      <ion-row style="height: auto; background: #ffffff; padding: 1% 0 3% 0;">
        <ion-col size="12">
          <div style="text-align: center">
            <h5 class="custom">Featured Events</h5>
          </div>
        </ion-col>
        <ion-col size-md=".5" size-xs="1.25">
          <div class="swiper-button-prev purple_div"></div>
        </ion-col>
        <ion-col size-md="11" size-xs="9.5">
          <swiper-container swipey [config]="config" init="false" class="engageSwiper">
            @for (object of featuredEvents();track object) {
              <swiper-slide (click)="navigateToPage(object.type)">
                <picture>
                  <source type="image/webp">
                  <img [ngSrc]="object.imageUrl" class="custom" priority="" width="100%" height="100%">
                </picture>
              </swiper-slide>
            }
          </swiper-container>
        </ion-col>
        <ion-col size-md=".5" size-xs="1.25" class="ion-align-items-center">
          <div class="swiper-button-next purple_div"></div>
        </ion-col>
      </ion-row>
      <!--    NEW HERE ROW-->
      <ion-row style="height: auto; min-height: auto; background: #1e2a4b;">
        <ion-col size-lg="5">
          <div style="text-align: center; height: 100%">
            <picture class="new_here_img">
              <source type="image/webp">
              <img [ngSrc]="homeInfo().newHereImageUrl" decoding="async" priority fill class="home_images">
            </picture>
          </div>
        </ion-col>
        <ion-col size-lg="7" size-xs="12" style="height: auto; padding: 4%">
          <h1 class="new_here">
            {{ homeInfo().newHereTitle }}
          </h1>
          <div class="new_here">
            <ion-text class="new_here">
              {{ homeInfo().newHereDescription }}
            </ion-text>
          </div>
          <div style="margin-top: 4%">
            <ion-button fill="outline" class="new_here" style="margin-right: 5%" (click)="navigateToPage('our-church')">
              Learn More
            </ion-button>
            <ion-button fill="outline" class="new_here" (click)="navigateToPage('connect')">
              CONNECT
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
      <!--  WAYS TO ENGAGE -->
      <ion-row style="height: auto; background: #ffffff; padding: 1% 0 3% 0;">
        <ion-col size="12">
          <div style="text-align: center">
            <h5 class="custom">WAYS TO ENGAGE</h5>
          </div>
        </ion-col>
        <ion-col size-md=".5" size-xs="1.25">
          <div class="swiper-button-prev purple_div"></div>
        </ion-col>
        <ion-col size-md="11" size-xs="9.5">
          <swiper-container swipey [config]="config" init="false" class="engageSwiper">
            @for (object of waysToEngage();track object) {
              <swiper-slide (click)="navigateToPage(object.type)">
                <h3>{{ object.description }}</h3>
                <picture>
                  <source type="image/webp">
                  <img [ngSrc]="object.imageUrl" class="custom" priority="" width="100%" height="100%">
                </picture>
              </swiper-slide>
            }
          </swiper-container>
        </ion-col>
        <ion-col size-md=".5" size-xs="1.25" class="ion-align-items-center">
          <div class="swiper-button-next purple_div"></div>
        </ion-col>
      </ion-row>
      <!--  Website footer-->
      <app-footer></app-footer>
    </ion-grid>
  }
</ion-content>

