<app-header>
</app-header>


<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row style="height: 800px">
      <ion-col style="height: 100%">
        <video autoplay [muted]="true" loop id="video">
          <source
            src="https://link.us1.storjshare.io/s/juwku3bd7kmjdfhgsscc7yqxg42a/church-images/eventstabcard/missions-trips-pictures/Kenya%20School%20Uniform.mp4?view">
        </video>
      </ion-col>
    </ion-row>
    <!--    WHO WE ARE-->
    <ion-row style="height: 475px">
      <ion-col style="padding-left: 40px">
        <ion-title class="about">
          WHO WE ARE
        </ion-title>
        <div class="about">
          <div style="width: 80%">
            <ion-text class="about">
              We are a ministry focused on Jesus with a purpose to encourage, equip and explore.
              The lost, prodigals, and disconnected are who we want to reach.
              Our heart is to share the love of Jesus with everyone we encounter.
              We welcome you to The Father's House!
            </ion-text>
          </div>
        </div>
        <div style="margin-top: 7%">
          <ion-button fill="outline" class="about">
            Learn More
          </ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div style="text-align: center; margin-top: 8%">
          <img src="assets/icon/church_home_logo.svg" style="height: 300px">
        </div>
      </ion-col>
      <ion-col>
        <div style="margin-top: 8%; text-align: center">

          <div style="margin-bottom: 4%">
            <ion-title style="font-size: 35px">
              OUR MISSION
            </ion-title>
            <div style="margin-top: 1%;">
              <ion-text style="font-size: 20px">
                Give people love encounters with a supernatural God!
              </ion-text>
            </div>
          </div>
          <div style="margin-bottom: 4%">
            <ion-title style="font-size: 35px">
              OUR VISION
            </ion-title>
            <div style="margin-top: 1%;">
              <ion-text style="font-size: 20px">
                Encourage. Equip. Explore.
              </ion-text>
            </div>
          </div>
          <div>
            <ion-title style="font-size: 35px">
              OUR TARGET
            </ion-title>
            <div style="margin-top: 1%;">
              <ion-text style="font-size: 20px">
                Lost. Prodigals. Disconnected.
              </ion-text>
            </div>
          </div>

        </div>
      </ion-col>
    </ion-row>

    <!--    NEW HERE ROW-->
    <ion-row style="height: 450px; background: #363636; padding: 40px">
      <ion-col size="4">
        <ion-title class="new_here">
          NEW HERE
        </ion-title>
        <div class="new_here">
          <div>
            <ion-text class="new_here">
              We are a ministry focused on Jesus with a purpose to encourage, equip and explore.
              The lost, prodigals, and disconnected are who we want to reach.
              Our heart is to share the love of Jesus with everyone we encounter.
              We welcome you to The Father's House!
            </ion-text>
          </div>
        </div>
        <div style="margin-top: 7%">
          <ion-button fill="outline" class="new_here">
            Join Us
          </ion-button>
        </div>
      </ion-col>
      <ion-col size="8">
        <ion-text>
          [insert image]

        </ion-text>
      </ion-col>
    </ion-row>

    <!--    GET THE TFH APP-->
    <ion-row style="height: 450px; padding: 40px 50px 40px 50px; align-items: center">
      <ion-col>

      </ion-col>
      <ion-col style="text-align: center">
        <div>
          <ion-title style="font-size: 40px; font-family: Georgia; font-weight: normal">
            Get The TFH App
          </ion-title>
        </div>
        <div style="padding-top: 10px">
          <ion-text style="font-size: 20px; color: #363636">
            Download our app to stay connected on the go!
          </ion-text>
        </div>
        <div style="padding-top: 10px">
          <ion-button fill="clear" href="#">
            <ion-icon slot="icon-only" name="logo-google-playstore" class="app"></ion-icon>
          </ion-button>
          <ion-button fill="clear" href="#">
            <ion-icon slot="icon-only" name="logo-apple" class="app"></ion-icon>
          </ion-button>
        </div>

      </ion-col>
    </ion-row>


    <!--  Website footer-->
    <app-footer></app-footer>
  </ion-grid>

</ion-content>

