video {
  width: 100%;
  height: 800px;
  object-fit: fill;
}

ion-title.about {
  font-size: 40px;
  margin-top: 4%;
  padding: 0px;
  font-family: Roboto;
}

div.about {
  margin-top: 3%;
}

ion-text.about {
  font-size: 18px;
}

